<form class="pure-form pure-form-stacked form-edit" ng-submit="save()">
  <div class="pure-control-group">
    <label for="edit-name">Name:</label>
    <input type="text" id="edit-name" ng-model="item.name">
  </div>

  <div class="pure-control-group">
    <label for="edit-price">Price:</label>
    <input type="number" id="edit-price" ng-model="item.price">
  </div>

  <div class="pure-control-group">
    <label for="edit-photo">Photo:</label>
    <input type="text" id="edit-photo" ng-model="item.photo">
    <img height="100" ng-src="{{item.photo}}">
  </div>

  <div class="wrapper">
    <button class="pure-button" type="submit">
      <i class="fa fa-check"></i>
    </button>
    <button class="pure-button" ng-click="remove()">
      <i class="fa fa-times"></i>
    </button>
  </div>
</form>

