<form class="pure-form pure-form-stacked" ng-submit="save()">
  <h2>Editar Item</h2>

  <label>
    Name:
    <input type="text" ng-model="item.name">
  </label>

  <label>
    Price:
    <input type="number" ng-model="item.price">
  </label>

  <label>
    Photo:
    <input type="text" ng-model="item.photo">
  </label>

  <hr>

  <button class="pure-button" type="submit">
    <i class="fa fa-check"></i>
  </button>
  <button class="pure-button" ng-click="remove()">
    <i class="fa fa-times"></i>
  </button>
</form>

