<form class="pure-form pure-form-stacked" ng-submit="save()">
  <h2>Editar Item</h2>

  <label>
    Name:
    <input type="text" ng-model="item.name">
  </label>

  <label>
    Price:
    <input type="number" ng-model="item.price">
  </label>

  <label>
    Photo:
    <input type="text" ng-model="item.photo">
  </label>

  <label>
    Priority:
    <select ng-model="item.priority">
      <option value="">-- select the priority --</option>
      <option ng-repeat="priority in priorities" value="{{ priority }}">{{ priority }}</option>
    </select>
  </label>

  <button class="pure-button" type="submit">Save</button>
  <button class="pure-button" ng-click="remove()">x</button>
</form>

