<form class="pure-form form-add" ng-submit="addItem()">
  <div class="wrapper">
    <input type="text" class="input input-product" ng-model="item.name" placeholder="Name" required>
    <input type="number" class="input input-price" ng-model="item.price" placeholder="Price" required>
    <button class="pure-button pure-button-primary">
      <i class="fa fa-plus"></i>
    </button>
  </div>
</form>

<br>

<!-- 1. listing -->
<table class="pure-table pure-table-striped table">
  <thead>
    <tr>
      <th id="main-table-id-col">#</th>
      <th id="main-table-product-col">
        <!-- 2. search -->
        <form class="pure-form">
            Product
            <input class="pure-input-rounded" type="text" placeholder="What are you looking for?" ng-model="searchText.name">
        </form>
        <!-- /2. search --></th>
      <th>Price</th>
      <th>
      </th>
    </tr>
  </thead>
  <tbody>
    <!-- 2. search -->
    <tr ng-repeat="item in items | filter:searchText track by $index">
    <!-- /2. search -->
      <td>{{ $index + 1 }}</td>
      <td id="main-table-product-col">
        <img class="pure-img product-image align-middle" width="150" ng-src="{{ item.photo }}">
        <h2 class="product-name align-middle">{{ item.name }}</h2>
      </td>
      <td class="align-center">{{ item.price | currency }}</td>
      <td class="align-center">
        <button class="pure-button" ng-click="edit(item.id)">
          <i class="fa fa-pencil"></i>
        </button>
        <button class="pure-button" ng-click="remove(item.id)">
          <i class="fa fa-times"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<ul>
<!-- /1. listing -->
