<form class="pure-form pure-form-stacked form-edit">
  <div class="pure-control-group">
    <label for="edit-name">Name:</label>
    <input type="text" id="edit-name">
  </div>

  <div class="pure-control-group">
    <label for="edit-price">Price:</label>
    <input type="number" id="edit-price">
  </div>

  <div class="pure-control-group">
    <label for="edit-photo">Photo:</label>
    <input type="text" id="edit-photo">
    <img height="100">
  </div>

  <div class="wrapper">
    <button class="pure-button" type="submit">
      <i class="fa fa-check"></i>
    </button>
    <button class="pure-button">
      <i class="fa fa-times"></i>
    </button>
  </div>
</form>

