html,
body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-overflow-style: none;
    overflow: hidden;
    cursor: default;
}

input,
textarea {
    user-select: text;
}

#background-computer {
    position: absolute;
    background: url(../img/computer.svg);
    width: 936px;
    height: 752px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    background-size: contain;
}

.container {
    position: absolute;
    width: 826px;
    height: 489px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: 34px;
    margin-left: 33px;
    padding-right: 20px;
    padding-left: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}


.wrapper {
  text-align: center;
}

.align-middle {
  display: inline-block;
  vertical-align: middle;
}

.align-center {
  text-align: center;
}

.product-name {
  font-weight: normal;
  font-size: 20px;
}

.product-image {
  margin-right: 10px;
}

.form-add input[type="text"].input,
.form-add input[type="number"].input {
  padding: 20px 10px;
}

.form-add .pure-button-primary {
  padding: 20px;
}

.input-product {
  width: 564px;
}

.input-price {
  width: 200px;
}

.form-edit {
  width: 230px;
  margin: 0 auto;
}

.table {
    width: 100%;
}

.table th {
    vertical-align: middle;
    text-align: center;
}

#main-table-id-col {
    width: 30px;
    vertical-align: middle;
}

#main-table-product-col {
    width: 480px;
    vertical-align: middle;
    text-align: left;
}
